<h1>{{title}}</h1>

<table id="js-agent-statuses" class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Speed</th>
        </tr>
    </thead>
    <tbody>
        {{#each agents}}
        <tr {{#unless moving}}class="bg-warning" {{/unless}}>
            <td>{{id}}</td>
            <td>{{speed}} km/hr</td>
        </tr>
        {{/each}}
    </tbody>
</table>