<!DOCTYPE html>
<html lang=en>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <script src="javascripts/app.js"></script>
</head>

<body>
    <div class="container">
        {{{body}}}
    </div>
</body>

</html>